# Настройки STT Движка
STT_ENGINE=whisper
WHISPER_MODEL=large-v3-turbo
# Если у вас есть локально скачанные модели, раскомментируйте и укажите пути
# WHISPER_MODEL_PATH=C:\models\whisper-large-v3-turbo
# GIGAAM_MODEL_PATH=C:\models\gigaam-v3-onnx
LLM_ENDPOINT=http://127.0.0.1:8045/v1/chat/completions
LLM_API_KEY=your_api_key_here
LLM_MODEL=gemini-2.5-flash-lite
HOTKEY=f12
UI_POSITION=bottom-left
